body {
    background-color: lightcyan;
}
.recipe-link {
    font-size: 24px;
}

img {
    width: 500px;
    height: auto;
}

h1 {
    background-color: blanchedalmond;
    text-align: center;
}

h3 {
    background-color: darkblue;
    color: white;
}

